* {
  box-sizing: border-box;
}

body {
  margin: 10%;
  padding: 0;
}
h {
  text-align: center;
}

select {
  outline: none;
  position: relative;
  font-family: Arial;
}
.container {
  display: grid;
  grid-template-columns: minmax();
  width: 100%;
  background-color: rgb(135, 41, 179);
}

.mci {
  background-color: rgba(142, 196, 221, 0.8);
  border: 1px solid rgba(0, 0, 0, 0.8);
  padding: 20px;
  font-size: 30px;
  text-align: center;
}

/* Submit Button! */

.SubmitBtn {
  margin: 2px;
  padding: 5px;
  box-sizing: border-box;
  background-color: white;
  color: black;
  border: 2px solid #2a53d8;
  outline: none;
}

.SubmitBtn:hover {
  background-color: #2a53d8;
  color: white;
}
.SubmitBtn:active {
  border: -3px;
  border-bottom-color: rgba(38, 240, 99, 0.747);
}

/* Check Button! */

.chkBtn {
  margin: 2px;
  padding: 5px;
  box-sizing: border-box;
  background-color: white;
  color: black;
  border: 2px solid #d8be2a;
  outline: none;
}

.chkBtn:hover {
  background-color: #d8be2a;
  color: white;
}
.chkBtn:active {
  border: -3px;
  border-bottom-color: rgba(240, 38, 179, 0.747);
}

.column {
  float: right;

  padding: 2px;
  height: 200px;
  text-align: center;
}
.winner {
  color: rgb(255, 255, 255);
  text-shadow: 4px 4px #0ebd08;
}
