* {
  box-sizing: border-box;
}

body {
  margin: 10px;
  padding: 0;
}
h {
  text-align: center;
}

select {
  outline: none;
  position: relative;
  font-family: Arial;
}
.container {
  display: grid;
  width: 100%;
  
}
.mci {
  border: 1px solid rgba(0, 0, 0, 0.8);
  padding: 20px;
  font-size: 30px;
  text-align: center;
  background-color: rgb(113, 152, 204);
}

/* Submit Button! */

.SubmitBtn {
  background-color: #4caf50; /* Green */
  border: none;
  color: white;
  padding: 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 30px;
  border-radius: 5px;
  margin:5px;
}


.SubmitBtn:hover {
  box-shadow: 0 12px 16px 0 rgba(0, 0, 0, 0.24),
  0 17px 50px 0 rgba(0, 0, 0, 0.19);
  background-color: #3c923f; /* Green */

}

.column {
  float: right;

  padding: 2px;
  height: 200px;
  text-align: center;
}

.answerDiv {
  position: relative;
  align-items: center;
  text-align: center;
}
.select-wrapper {
  width: 200px;
  position: relative;
  align-items: center;
}

.select-wrapper::before {
  font-family: fontello;
  content: "\f107";
  font-size: 20px;
  position: absolute;
  right: 15px;
  top: 10px;
  color: #fff;
  pointer-events: none;
}

select {
  width: 100%;
  height: 40px;
  -moz-padding-start: calc(10px - 3px);
  padding-left: 10px;
  background-color: rgb(149, 149, 149);
  color: #fff;
  font-family: "Open Sans", sans-serif;
  font-size: 16px;
  box-shadow: 2px 2px 5px 1px rgba(0, 0, 0, 0.3);
  border-radius: 3px;
  outline: none;
  cursor: pointer;
}
option {
  color: #666;
}
select:focus::-ms-value {
  background-color: transparent;
}
.header{
  text-align: center;
border: none; 
font-size: 35px;
color: rgb(29, 29, 144);
}
.btnPlayer:hover {
  box-shadow: 0 12px 16px 0 rgba(0, 0, 0, 0.24),
    0 17px 50px 0 rgba(0, 0, 0, 0.19);
    background-color: #3c923f; /* Green */

}
.btnPlayer {
  background-color: #4caf50; /* Green */
  border: none;
  color: white;
  padding: 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 30px;
  border-radius: 5px;
  margin-top: 50px;
}
.btnCon{
  display: grid;
  margin: 50px;
}
.returnButton{
display:flex;}
